.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "footer footer footer";
    gap: 20px;
    justify-items: center;
    align-items: center;
}
.header {
    grid-area: header;
}
.sidebar {
    grid-area: sodebar;
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}